// All print page settings
@media print {
    @page {
        margin: 0;
        // display: block;
        page-break-before: always;
        background-color: white;
    }

    html {
        background-color: white;
        width: 16cm !important;
        height: 24cm !important;
        margin: 2.54cm !important;
        page-break-before: always;
    }

    body,
    html {
        background-color: white !important;
        /* change the margins as you want them to be. */
    }

    * {
        background-color: white;
    }

    footer,
    nav,
    header,
    footer,
    .breadcrumbs,
    .no-print {
        display: none !important;
        background-color: white;
    }

    .print-page>* {
        font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
        // column-width: 17em;
        // column-gap: 3em;
        // margin: 4rem;
        background-color: white;
        flex-direction: column;
        display: block !important // padding: 1.6cm 0;

            // width: 16cm;
            // height: 24cm;
            // margin: 2.54cm;
            p,
            div, span, li {
            margin: 0;
            // margin: 2px;
            font-size: 12px !important;
            text-align: justify;
            line-height: 1.15rem;
        }

        ol,
        ul {
            margin-left: 2rem;
        }

        ol li,
        ul li {
            line-height: 1.15rem;
        }
    }
}