@import "./mixins.scss";

$page-width: 1340px;
$navy: #141728;
$blue: #151887;
$red: #811616;
$grey: #404040;
$dark-grey: #282828;
$light-grey: #afafaf;
$default-text: #000;

$background-two: #dadada;

$primary-color: #141728;
$primary-color-trans: rgba(20, 23, 40, 1);
$secondary-color: #811616;
$tertiary-color: #dadada;
$quaternary-color: white;
$tertiary-inverse: #3c3c3c;

$global-transition: 350ms;

$page-width: 1340px;