
.wave-wrapper {
	max-height: 400px;
    background-color: #f7f5f4;
	overflow: hidden;
    margin-bottom: -20px;
}

.svg-primary {
	fill: $primary-color;
}

.svg-secondary {
	fill: $red;
}

.svg-tertiary {
	fill: #35544c;
    transform: translateX(-30px);
}

.svg-shadow {
	fill: #35544c;
    transform: translateX(-30px);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}