

.footer {
	padding: 20px 0px;
	background-color: $primary-color;
	color: $tertiary-color;

	&--bright {
		background-color: white;
		color: $primary-color;
	}

	&--horizontal {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		justify-content: space-between;
		@include responsive("tablet-wide", max) {
			flex-direction: column;
			padding: 20px;
		}
	}

	&--align-start {
		align-items: flex-start;
	}

	&--flexcol {
		flex-direction: column;
	}
	@media (min-width: 1024px) {
		&__wrapper {
			max-width: $page-width;
		}
	}

	@media (min-width: 1024px) and (max-width: 1216px) {
		&__wrapper{
			max-width: 95%;
		}
	}

	&__item {
		padding: 5px 0px;
	}

	&__group {
		display: flex;
	}

	&__block {
		flex: 1;
		align-self: auto;
		margin: 25px 0px;
		width: 100%;
	}

	&__block--free {
		flex: auto;
		width: auto;
	}

	&__info {
		line-height: 30px;
	}

	&--centered {
		align-self: center;
	}

	&__ruler {
		margin: 20px 0px;
		background-color: $tertiary-color;
		height: 1px;
		width: 75%;
	}

	&__ruler-full {
		margin: 15px 0px 30px 0px;
		background-color: $tertiary-color;
		height: 1px;
		width: 100%;
	}

	&__heading {
		color: lighten($tertiary-inverse, 25%);
		font-weight: 600;
		letter-spacing: 1px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	
	&__copyright {
		flex-direction: row;
		display: flex;
    	padding: 0px 0px 10px 0px;
		@include responsive("tablet", max) {
			flex-direction: column;
			padding: 20px;
		}
		&__spacer {
			padding: 0px 5px;
		}
	}

	&__icon {
		padding: 0px 5px;
	}
}