.l-mobile-header {
    display: none;
    position: absolute;
    z-index: 100;
    width: 100%;
    right: 0;
    top: 0;

    @include responsive("tablet-wide", max) {
        display: block;
    }

    &__toggle {
        top: 4px;
        left: 0;
        z-index: 200;
    }

    &__logo {
        padding: 8px;
        left: 0;
        right: 0;
        z-index: 100;
    }

    &--squared {
        background-image: $grid-bg;
        background-color: rgba(255, 255, 255, 0.5);
    }
}

.scroll {
    .l-mobile-header {
        position: fixed;
    }
}