main,
header {
    @include responsive("tablet-wide", max) {
        transition: all 500ms;
    }
}

.nav {
    position: relative;
    width: 100%;
    z-index: 10;
    top: 0;
    display: flex;
    background-color: rgba(255, 255, 255, 0.75);
    @include responsive("tablet-wide", max) {
        display: block;
        width: 80%;
        margin-top: 75px;
        flex-direction: column;
        transform: translate(-100%, 0);
        transition: all 500ms;
    }
    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include responsive("tablet-wide", max) {
            flex-direction: column;
        }
    }
    &__toggle {
        position: fixed;
        top: 5px;
        left: 5px;
        z-index: 100;
        @include responsive("desktop", min) {
            display: none
        }
    }
    &__logo {
        flex: 1;
    }
    &__block,
    &__block-lg {
        padding: 50px 15px;
    }
    &__block-lg {
        padding: 30px 60px;
    }
    &__block:hover,
    &__block-lg:hover {
        color: $primary-compliment;
        background-color: $primary;
    }
    &__icon {
        margin: 0px 10px;
    }
    &__items {
        display: flex;
        flex-direction: row;
        @include responsive("tablet-wide", max) {
            display: block;
            width: 100%;
            flex-direction: column;
        }
    }
    &__subgroup {
        position: absolute;
        width: 300px;
        top: 70px;
        left: 0;
        height: 0;
    }
    &__link {
        display: block;
        position: relative;
    }
    &__item,
    &__item-lg,
    &__item-row {
        width: auto;
        text-align: center;
        font-size: 17px;
        font-weight: 600;
        @include responsive("tablet-wide", max) {
            padding: 10px 0px;
            text-align: left;
        }
    }
    &__item-row {
        padding: 0px;
    }
    &__item-lg {
        padding: 10px 50px;
    }
    .is-open &__subgroup {
        display: block;
    }
    &--is-active {
        background-color: $boll-blue;
    }
    &--squared-background {
        background-image: $grid-bg;
    }
    &--mobile-dark {
        @include responsive("tablet-wide", max) {
            background-color: $tertiary-grey;
            color: $primary-compliment;
        }
    }
    &__items--column {
        flex-direction: column;
    }
    &--fixed {
        position: fixed;
    }
    @include transition-all(1000ms);
}

.is-open {
    overflow: hidden;
    .nav {
        transform: translate(0%, 0);
    }
    main {
        transform: translate(80%, 0);
    }
}

.scroll {
    @include responsive("tablet-wide", min) {
        .nav {
            position: fixed;
            top: 0;
            background-image: $grid-bg;
            background-color: $tertiary-grey-trans;
            color: white;
            @include transition-all(1000ms);
        }
    }
}