@import "../abstracts/mixins.scss";

.ui-content {

	&__view {
		border-left: 1px solid #ddd;
		padding: 0 10px 0 0;
	}

	&__body,
	&__header {
		padding-left: 30px;
		overflow: hidden;

		P {
			margin: 15px 0px;
			text-align: justify;
			word-break: break-word;
			word-spacing: 1px;
		}

		h1 {
			margin-bottom: 30px;
		}

		h2 {
			margin-bottom: 25px;
		}

		h3,
		h4 {
			margin-bottom: 20px;
		}
	}

	min-height: 500px;

	ul li,
	ol li {
		list-style: decimal;
	}

	ol,
	ul {
		padding-left: 50px;
		margin: 20px 0px;
	}
}

.ui-content-nav {
	margin: 0 0 15px;
	padding: 8px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;

	&__element {
		display: flex;
		align-items: center;
		padding: 5px 0px;
	}

	&__link {
		color: #333;
		display: inline-block;
		padding: 0.5rem 0;
	}

	&__link-small {
		color: #333;
		font-size: 0.75rem;
		display: inline-block;
		padding: 0.2rem 0;
	}

	&__icon {
		margin-right: 10px;
		float: right;
		font-size: 1.2em;
		margin-left: auto;
		@include transition-all(200ms);
	}

	&__element:hover &__icon {
		margin-right: 5px;
	}
}