@import "../abstracts/variables.scss";

.wrapper,
.page-wrapper,
.content-wrapper {
	max-width: $page-width;
	margin: 0 auto;
	padding: 0 2rem;
	box-sizing: content-box;

	@include responsive("tablet-wide", max) {
		padding: 0px;
		max-width: 100%;
		margin: auto;
	}
}

.page-dark {
	width: 100%;
	background-color: $primary-color;
}

@include responsive("tablet-wide", max) {
	.content-wrapper {
		padding: 0px 30px;
	}
}

.page-content {
	background-color: darken(white, 3.5%);
}

@include responsive("tablet-wide", max) {
	.wrapper {
		max-width: 100%;
		margin: 0px 45px;
	}
}

@media (min-width: 1024px) {
	.wrapper {
		max-width: $page-width;
	}
}

@media (min-width: 1024px) and (max-width: 1216px) {
	.wrapper {
		max-width: 95%;
	}
}